.invalid {
    background: red;
}

.xError {
    color: red
}

.submitBtn {
    background-color: #B0C4DE;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 2px;
    position: center;
}
.clearBtn {
    background-color: #B0C4DE;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
    width: 125px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 2px;
    position: center;

}

.returnBtn {
    background-color: #B0C4DE;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 125px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 2px;
    position: center;
}



#xError {
    color: red;
    font-size: 90%;
    margin-left: 50px;
    margin-top: 10px;
}






