html {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    position: center;
    margin-left: 500px;
    margin-top:150px;
    width: 100%;
    height: 100%;
    background: #e9e6ee;
    font-weight: 300;
}

h2 {
    font-size: medium;
    letter-spacing: 2px;
}

.helloBtn {
    background-color: #B0C4DE;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 2px;
    position: center;
}

