.inputY {
  font-size: 17px;
  position: center;
  margin-left: 100px;
  margin-right: 550px;

  &.valid {
    color: #44E444;
  }

  &.invalid {
    color: #FF0000;
  }

  &::placeholder {
    color: black;
  }
}


.inputR {
  margin-left: 100px;
  font-size: 17px;
  position: center;

  &.valid {
    color: #44E444;
  }

  &.invalid {
    color: #FF0000;
  }

  &::placeholder {
    color: black;
  }
}


  .form-control.success input {
    border-color: #2ecc71;
  }

  .form-control.error input {
    border-color: #e74c3c;
  }

  .form-control i {
    position: absolute;
    top: 70px;
    visibility: hidden;
  }

  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }

  .form-control.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
  }

  .form-control small {
    visibility: hidden;
    margin-top: -225px;
    margin-left: 20px;

  }

  .form-control.error small {
    color: red;
    visibility: visible;
  }


  .inputY:focus {
    outline: none;
  }


  .selectX {
    color: black;
    visibility: visible;


  }

